


<header>
    <body>
<nav class="navbar has-shadow is-white">
    <!-- logo /brand -->
      <div class="navbar-brand">
          <a class="navbar-item">
                <img src="https://i.imgur.com/l0v7AYL.jpg" alt="site-logo" style="max-height: 70px" class="py-2 px-2">
                
          </a>
          <div>
              <h1 class="title is 3 has-text-centered">Art of Artesians</h1>
          </div>
          <a class="navbar-burger">
              <span></span> 
              <span></span> 
              <span></span>
          </a>
    </div>
    

    </div>
    <div class="navbar-menu" id="nav-links">
        <div class="navbar-end px-2 py-2 pt-2 pr-2">
           
                <a href="/auth/signup">SignUp|</a>
              
                <a href="/auth/login">LogIn</a>
                
        </div>
        
    </div> 
   
</nav>

<!-- breardcrumps -->
<div class="section pt-4 pb-0">
    <nav class="breadcrumb has-arrow-separator">
        <ul class="container">
            <li><a href="/handicrafts" class="is-active has-text-grey">Handicraft</a></li>
            <li><a href="cart" class="has-text-grey">Cart</a></li>
        </ul>

    </nav>

</div>


<!-- <script src="./index.js"></script> -->
</body>
</header>