<header>
<nav class="navbar fixed-top" style="background-color: #81a0a0;">
    <a class="navbar-logo">
        <img alt class="d-inline-block align-top" height="40"  width="40" src="https://i.imgur.com/74WTdkz.jpg">
    </a>   
    <ul>
        <li><a href="/auth/signup">SignUp</a></li>
        <li><a href="/auth/login">LogIn</a></li>
        <li><a href="/handicrafts">Handicraft</a></li>
        <li><a href="/cart">Cart</a></li>
    </ul>
</nav>
</header>